# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: Microsoft
ColumnLimit: 200
IndentWidth: 4
AllowShortFunctionsOnASingleLine: All
AccessModifierOffset: -4
NamespaceIndentation: All
AlignAfterOpenBracket: DontAlign
